<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nav">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Events"></activity>
        <activity android:name=".EventCities" />
        <activity android:name=".EventDetails" />
        <activity android:name=".CounselorDetails" />
        <activity
            android:name=".videos"
            android:label="@string/title_activity_videos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Counselor" />
        <activity android:name=".Humorous_Video_1" />
        <activity android:name=".Motivational_Video_1" />
        <activity android:name=".Login" />
        <activity android:name=".Places" />
        <activity android:name=".World_Tour" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Feedback" />
        <activity android:name=".Article1" />
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MessageFragment" />
        <activity android:name=".ChatFragment" />
        <activity android:name=".ArticleFragment" />
    </application>

</manifest>